@import url(http://fonts.googleapis.com/css?family=Grumpy);

body {
  font-family: 'Grumpy', sans-serif;
  font-size: 90%;
  line-height: 1.5;
}

h1 {
  font-size: 16px;
}

ul {
    list-style-type: none;
    margin-left: 5px;
}


ul li {
    padding: 10px 30px 5px 5px; 
}

li a {
  margin-left: 10px;
  float: right;
}

#mainContainer
{
  background-color: #f1f1e1;
  padding: 30px;
  border: 1px solid #000;
}

input[type=text] {
  border: 1px solid #ccc;
  padding: 5px 10px 7px 5px;
  margin-right: 10px;
  width: 250px;
  font-size: 14px;
}

input[type=submit] {
  border: 1px solid #aaa;
  margin-left: 15px;
  padding: 5px 15px;
  font-size: 1.1em;
}

